---
import ValuesSection from "../components/ValuesSection.astro"
import  Header  from "../components/Header.astro"
import  HeroSection from "../components/HeroSection.astro"
import  ProgramsSection from "../components/ProgramsSection.astro"
import  CTASection from "../components/cta-section.astro"
import  MisionVisionSection from "../components/MisionVisionSection.astro"
import  ContactUsSection from "../components/ContactUsSection.astro"
import DeclarationsSection from "../components/DeclarationsSection.astro"
import KnowUs from "../components/KnowUs.astro"

---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Mi Sitio</title>
  </head>
<div class="w-screen">
	<Header />
	<HeroSection />
	<ProgramsSection />
	<ValuesSection />
	<MisionVisionSection />
	<DeclarationsSection />
	<KnowUs />
	<ContactUsSection />
</div>

