---
import Director from "../assets/director.jpeg";
import AdministrativeDirector from "../assets/administrative-director.jpeg";
import Dean from "../assets/dean.jpeg";
import Pastor1 from "../assets/hugo-mendoza.jpeg";
import Pastor2 from "../assets/enrique-perez.jpeg";
import Pastor3 from "../assets/noe-madrid.jpeg";
import Pastor4 from "../assets/ivan-dominguez.jpeg";

const personas = [
  {
    ocupacion: "Julio Colegio",
    cargo: "Director General",
    imagen: Director.src,
  },
  {
    ocupacion: "Cristian Alvarado",
    cargo: "Director Administrativo",
    imagen: AdministrativeDirector.src,
  },
  {
    ocupacion: "Ricardo Padilla",
    cargo: "Decano Académico",
    imagen: Dean.src,
  },
  {
    ocupacion: "Pastor Hugo Mendoza",
    cargo: "Maestro",
    imagen: Pastor1.src,
  },
  {
    ocupacion: "Pastor Enrique Pérez",
    cargo: "Maestro",
    imagen: Pastor2.src,
  },
  {
    ocupacion: "Pastor Noé Madrid",
    cargo: "Maestro",
    imagen: Pastor3.src,
  },
  {
    ocupacion: "Pastor Iván Dominguez",
    cargo: "Maestro",
    imagen: Pastor4.src,
  },
];
---

<section  id="nosotros"  class="bg-white py-20 px-6">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-4xl font-extrabold mb-16">
      <span class="text-black">Nuestro</span>
      <span class="text-yellow-500"> Equipo</span>
    </h2>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12">
      {personas.map((p) => (
        <li class="group bg-white rounded-2xl shadow-md hover:shadow-xl hover:shadow-yellow-200/50 transition duration-300 p-8 flex flex-col items-center border border-yellow-200/70">
          <div class="relative w-40 h-40 mb-6">
            <img
              src={p.imagen}
              alt={p.ocupacion}
              class="w-full h-full object-cover rounded-full border-4 border-yellow-400 shadow-md group-hover:scale-105 transition-transform duration-500"
              loading="lazy"
            />
            <span class="absolute inset-0 rounded-full border border-yellow-300 blur-md opacity-0 group-hover:opacity-100 transition-opacity duration-500"></span>
          </div>

          <div class="text-center">
            <p class="text-lg font-semibold text-gray-900 tracking-wide">
              {p.ocupacion}
            </p>
            <p class="text-sm text-gray-600">{p.cargo}</p>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
